#etusivulinkki {
    color:#3d3d3d;
    text-decoration:none;/*OTSIKOSTA LINKIN UNDERLINE POISTETTU*/
}

#kuvat { /*ELOKUVASIVUJEN KUVIEN TYYLIT*/
    width:97%; 
      
}

#tekstikentta {
    width:300px;
    height:100px;
}


