
.nappi {
    font-family:arial;
    width:93%;       
    font-size:110%;  /*ETUSIVUN NAPPIEN TYYLIT*/
    background-color:#354042; /*nappien väri*/
    color:white;   /*napin tekstin väri*/
    bottom:230px;
    position:ABSOLUTE;
    border-radius:10px; /*nappien pyöreys*/
}

#kuvat { /*ETUSIVUN KUVIEN TYYLIT*/
    width:93%; 
    position:ABSOLUTE;
    bottom:5px;
    margin-bottom:50px;
    top:300px;
}

.col-sm-4 {
    height:480px;
}



#etusivulinkki {
    color:#3d3d3d;
    text-decoration:none;/*OTSIKOSTA LINKIN UNDERLINE POISTETTU*/
}
